version: "3.8"

networks:
  data-platform:
    driver: bridge

x-airflow-common: &airflow-common
  image: ${AIRFLOW_IMAGE_NAME:-apache/airflow:2.7.0}
  networks:
    - data-platform
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor  # Упрощаем
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./data:/data
  depends_on:
    postgres:
      condition: service_healthy

services:
  # SPARK КЛАСТЕР
  spark-master:
    image: andreper/spark-master:3.0.0
    container_name: spark-master
    networks:
      - data-platform
    ports:
      - 18080:8080  # Меняем порт, чтобы не конфликтовал с Airflow
      - 7077:7077
    volumes:
      - ./workspace:/opt/workspace
      - ./data:/data

  spark-worker-1:
    image: andreper/spark-worker:3.0.0
    container_name: spark-worker-1
    networks:
      - data-platform
    environment:
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 2g
      SPARK_MASTER: spark://spark-master:7077
    volumes:
      - ./workspace:/opt/workspace
      - ./data:/data
    depends_on:
      - spark-master

  jupyterlab:
    image: andreper/jupyterlab:3.0.0-spark-3.0.0
    container_name: jupyterlab
    networks:
      - data-platform
    ports:
      - 8888:8888
      - 4040:4040
    volumes:
      - ./workspace:/opt/workspace
      - ./data:/data
    command: jupyter lab --ip='*' --allow-root --no-browser --ServerApp.token='' --ServerApp.password=''
    depends_on:
      - spark-master

  # БАЗА ДАННЫХ
  postgres:
    image: postgres:13
    networks:
      - data-platform
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      start_period: 5s

  # AIRFLOW
  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command:
      - -c
      - |
        airflow db init
        airflow users create \
          --username airflow \
          --firstname Airflow \
          --lastname Admin \
          --role Admin \
          --email airflow@example.com \
          --password airflow
    environment:
      <<: *airflow-common-env
      _AIRFLOW_DB_MIGRATE: 'true'
      _AIRFLOW_WWW_USER_CREATE: 'true'
      _AIRFLOW_WWW_USER_USERNAME: airflow
      _AIRFLOW_WWW_USER_PASSWORD: airflow
    depends_on:
      postgres:
        condition: service_healthy

  airflow-webserver:
    <<: *airflow-common
    container_name: airflow-webserver
    command: webserver
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - airflow-init

  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow-scheduler
    command: scheduler
    restart: always
    depends_on:
      - airflow-init

  # METABASE
  metabase:
    image: metabase/metabase:v0.41.6
    container_name: metabase
    networks:
      - data-platform
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: airflow
      MB_DB_PORT: 5432
      MB_DB_HOST: postgres
      MB_DB_USER: airflow
      MB_DB_PASS: airflow
    ports:
      - "3000:3000"
    depends_on:
      - postgres

volumes:
  postgres-db-volume: